<div>
    <form (ngSubmit)="onSubmit()" style="display: grid; grid-template-columns: repeat(2, 1fr); justify-content: center; justify-self: center; align-self: center;">
        <div>
            <label for="initialInvestment">Initial Investment Amount:</label>
            <input type="number" id="initialInvestment" [(ngModel)]="initialInvestment" name="initialInvestment" required>
        </div>
        <div>
            <label for="monthlyContribution">Monthly Contribution:</label>
            <input type="number" id="monthlyContribution" [(ngModel)]="monthlyContribution" name="monthlyContribution" required>
        </div>
        <div>
            <label for="annualInterestRate">Annual Interest Rate (%):</label>
            <input type="number" id="annualInterestRate" [(ngModel)]="annualInterestRate" name="annualInterestRate" required>
        </div>
        <div>
            <label for="investmentDuration">Investment Duration (years):</label>
            <input type="number" id="investmentDuration" [(ngModel)]="investmentDuration" name="investmentDuration" required>
        </div>
        <button type="submit">Calculate</button>
    </form>
</div>